*{
    margin: 0;
    padding:0;
}

h1{
    align-items: center;
    font-style: center;
}

.caja1{
    margin: 20px;
    width: 70%;
    height: 200px;
    background-color: bisque;
    display: flex;
    
}